/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  ### Style Guide

//  Colour palette:
 
//  - Light shades - "hint of red" #FAF8F7
 
//  - Light accents - "contessa" #C9827A
 
//  - Main brand colour - "cadet blue" #A7A8BE
 
//  - Dark Accent - "cadillac" #BB5866;
 
//  - Dark Shades - "martinique" #33354F
 
//  Fonts:
 
//  - headings - "Gothic A1"
 
//  - paragraph - "Roboto"
@import "bootstrap";

body {
    background-color: #FAF8F7;
}

div {
    padding-left: 50px;
}

// changing colour of search button
.btn-custom {
    background-color: hsl(354, 39%, 49%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ad4c55", endColorstr="#ad4c55");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ad4c55), to(#ad4c55));
    background-image: -moz-linear-gradient(top, #ad4c55, #ad4c55);
    background-image: -ms-linear-gradient(top, #ad4c55, #ad4c55);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ad4c55), color-stop(100%, #ad4c55));
    background-image: -webkit-linear-gradient(top, #ad4c55, #ad4c55);
    background-image: -o-linear-gradient(top, #ad4c55, #ad4c55);
    background-image: linear-gradient(#ad4c55, #ad4c55);
    border-color: #ad4c55 #ad4c55 hsl(354, 39%, 49%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
    -webkit-font-smoothing: antialiased;
  }
  
  a.link_to_text_color {
    //   color: #ffffff;
  }